.floatingShapesBackground {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;
}

.floatingShape {
  position: absolute;
  opacity: 0.14;
  animation: float 14s ease-in-out infinite;
  will-change: transform;
}

.floatingShape svg {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 55%;
  height: 55%;

  color: var(--shapes-color);

  pointer-events: none;
}


.floatingBulb {
  bottom: 18%;
  left: 6%;
  width: 4.5rem;
  aspect-ratio: 1 / 1;

  animation-delay: 3s;
}

.floatingBulb svg {
  width: 80%;
  height: 80%;
  color: var(--shapes-color);
}

.floatingCode {
  top: 45%;
  left: 5%;
  width: 4.5rem;
  aspect-ratio: 1 / 1;

  transform: rotate(25deg);
  animation-delay: 2s;
}

.floatingCode svg {
  width: 80%;
  height: 80%;
  color: var(--shapes-color);
}

.floatingStar {
  top: 28%;
  left: 65%;
  width: 7rem;
  height: 7rem;
}

.floatingRocket {
  bottom: 22%;
  right: 20%;
  aspect-ratio: 1 / 1;
  animation-delay: 8s;
  height: 10rem;
  width: 10rem;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -16px, 0) rotate(6deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.14;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.28;
  }
  100% {
    transform: scale(1);
    opacity: 0.14;
  }
}