.wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 1.25rem;
}

.blurCard {
  width: 100%;
  max-width: var(--container);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2.5rem 1.75rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1.25rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  @include mq-up($sm) {

  }
}

.item {
  text-align: center;
  position: relative;
}

.value {
  font-size:  var(--font-3xl);
  font-weight: 700;
  color: var(--white);
}

.label {
  font-size: var(--font-sm);
  color: var(--gray);
}

@include mq-up($sm) {
  .blurCard {
    grid-template-columns: repeat(4, 1fr);
  }

  .item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20%;
    right: -1.25rem;
    height: 60%;
    width: 1px;
    background: rgba(255, 255, 255, 0.08);
  }
}