.card {
  background: var(--color-card);
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
}

.cover {
  position: relative;
  height: 5rem;
  background: linear-gradient(
                  135deg,
                  rgb(21, 22, 26) 0%,
                  #2a2c33 40%,
                  #3a3d45 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}



.logo {
  position: absolute;
  bottom: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  font-size: var(--font-md);
  line-height: 1.5;
  color: var(--gray)
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}
