.projects {
  position: relative;
  width: 100%;
  background: var(--projects-bg);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background: var(--projects-overlay);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .item {
      display: flex;
      flex: 1;
      height: 100%;

      > * {
        width: 100%;
      }
    }

    @include mq-up($sm) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}