.projects {
  position: relative;
  width: 100%;
  background: #141417;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background:
            radial-gradient(
                            800px 600px at 50% -10%,
                            rgba(255, 255, 255, 0.06),
                            transparent 60%
            ),
            linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0.04),
                            transparent 30%,
                            transparent 70%,
                            rgba(0, 0, 0, 0.4)
            );
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include mq-up($sm) {
      flex-direction: row;
    }
  }
}
