.projects {
  min-height: calc(100dvh - var(--header-height));
  align-items: start;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include mq-up($sm) {
      flex-direction: row;
    }
  }
}
