.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  aspect-ratio: 1 / 1;
}

.rays {
  position: absolute;

  width: 35rem;
  height: 35rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;

  color: #2563eb;
}

.circle {
  position: relative;
  z-index: 1;

  width: 20rem;
  height: 20rem;

  border-radius: 50%;
  overflow: hidden;

  border: 0.4rem solid #d1d5db;

  box-shadow:
          inset 0 0 0.5rem rgba(0,0,0,0.2),
          0 0 0.8rem rgba(0,0,0,0.1);

  background: #fff;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}