.tag {
  font-size: var(--font-xs);
  font-weight: 500;
  padding: .25rem .5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid;
  background: rgba(var(--color-neutral-rgb), 0.05);
}

.neutral {
  border-color: rgba(var(--color-neutral-rgb), 0.5);
  color: var(--color-text-primary);
}

.purple {
  border-color: rgba(var(--color-purple-rgb), 0.5);
  color: var(--color-purple-300);
}

.blue {
  border-color: rgba(var(--color-blue-rgb), 0.5);
  color: var(--color-blue-300);
}

.green {
  border-color: rgba(var(--color-green-rgb), 0.5);
  color: var(--color-green-300);
}

.orange {
  border-color: rgba(var(--color-orange-rgb), 0.5);
  color: var(--color-orange-300);
}