.tag {
  font-size: var(--font-xs);
  font-weight: 500;
  padding: .25rem .5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid;
  background: rgba(255, 255, 255, 0.05);
}

.white {
  border-color: rgba(255, 255, 255, 0.5);
  color: var(--white);
}

.purple {
  border-color: rgba(139, 92, 246, 0.5);
  color: #c4b5fd;
}

.blue {
  border-color: rgba(96, 165, 250, 0.5);
  color: #93c5fd;
}

.green {
  border-color: rgba(34, 197, 94, 0.5);
  color: #4ade80;
}

.orange {
  border-color: rgba(249, 115, 22, 0.5);
  color: #fb923c;
}