.bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.4;

  --dots-color: var(--gray-light);
  --dots-size: 24px;

  background-image: radial-gradient(
                  var(--gray-light) 1px,
                  transparent 1px
  );

  background-size: var(--dots-size) var(--dots-size);

  mask-image: radial-gradient(
                  circle at 50% 50%,
                  black 0%,
                  black 40%,
                  transparent 80%
  );
  z-index: 0;
}