.wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  max-width: 35rem;
}

.title {
  font-weight: 700;
  font-size: var(--font-3xl);
  color: var(--white);
  margin: 0;
  white-space: nowrap;
}

.index {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

  font-size: var(--font-3xl);
  letter-spacing: 0.08em;
  color: var(--gray);
  margin-right: 0.75rem;
  font-weight: 500;
}

.line {
  flex: 1;
  height: 0.0625rem;
  background: var(--white);
  opacity: .15;
}
