.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &.xs {
    .layoutChildren {
      max-width: var(--container-xs);
    }
  }

  &.sm {
    .layoutChildren {
      max-width: var(--container-sm);
    }
  }
  &.mainPage {
    .layoutChildren {
      padding-block: 6rem;
    }
  }
}
.layoutChildren {
  max-width: var(--container);
  padding-inline: 1rem;
  width: 100%;
}