.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .layoutChildren {
    max-width: var(--container);
    padding-inline: 1rem;
    width: 100%;
  }
  &.lg {

  }
}