html,
body {
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: "Space Grotesk", system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
