:root {
  --container-xs: 30rem;
  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-xxl: 90rem;
  --container-fluid: 100%;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;

  --font-h1: 2.5rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-h6: 1.125rem;
}
