:root {

    /* ========================
       Typography
    ========================= */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.875rem;
    --font-4xl: 2.25rem;

    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    /* Headings */

    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.75rem;
    --font-h4: 1.5rem;
    --font-h5: 1.25rem;
    --font-h6: 1.125rem;

    --font-h1-lg: 4rem;
    --font-h2-lg: 3rem;
    --font-h3-lg: 2.25rem;
    --font-h4-lg: 1.875rem;
    --font-h5-lg: 1.5rem;
    --font-h6-lg: 1.25rem;

    --font-md-lg: 1.125rem;
    --font-lg-lg: 1.25rem;

    /* Layout */

    --header-height: 4rem;
    --container-xs: 43.75rem;
    --container-sm: 70rem;
    --container: 80rem;
    --container-mg: 80rem;
}

:root[data-theme="light"] {
    --color-bg-primary: #15161A;
    --color-bg-secondary: #1A1B1E;
    --color-bg-card: #0f0f0f;

    --color-text-primary: #ffffff;
    --color-text-secondary: #a1a2a3;
    --color-text-muted: #d1d1d1;
}


:root[data-theme="dark"] {

    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f3f4f6;
    --color-bg-card: #ffffff;

    --color-text-primary: #15161A;
    --color-text-secondary: #4b5563;
    --color-text-muted: #6b7280;
}