html,
body {
    overflow: hidden;
}

:root {

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;

    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.75rem;
    --font-h4: 1.5rem;
    --font-h5: 1.25rem;
    --font-h6: 1.125rem;

    --black: rgb(21, 22, 26);

    --header-height: 4rem;
}
