
:root {

    /* ========================
       Typography - Base
    ========================= */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.875rem;
    --font-4xl: 2.25rem;


    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;


    /* ========================
       Headings - Mobile First
       ======================== */

    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.75rem;
    --font-h4: 1.5rem;
    --font-h5: 1.25rem;
    --font-h6: 1.125rem;

    /* ========================
       Desktop (lg: 1024px+)
       ======================== */

    --font-h1-lg: 4rem;
    --font-h2-lg: 3rem;
    --font-h3-lg: 2.25rem;
    --font-h4-lg: 1.875rem;
    --font-h5-lg: 1.5rem;
    --font-h6-lg: 1.25rem;

    --font-md-lg: 1.125rem;
    --font-lg-lg: 1.25rem;

    /* ========================
       Colors
       ======================== */

    --black: rgb(21, 22, 26);
    --gray: #a1a2a3;
    --white: #ffffff;
    --gray-light: #d1d1d1;
    --card: 240 10% 3.9%;
    --color-card: #0f0f0f;

    /* ========================
       Layout
       ======================== */

    --header-height: 4rem;
    --container: 80rem;
    --container-mg: 80rem;
}
