.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 22.5rem;
  @include mq-up($sm) {
    min-height: auto;
  }
}

.frame {
  width: 100%;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  pointer-events: none;

  background: radial-gradient(
                  ellipse at center,
                  rgba(255, 255, 255, 0.45) 0%,
                  rgba(255, 255, 255, 0.25) 25%,
                  rgba(255, 255, 255, 0.08) 45%,
                  rgba(255, 255, 255, 0) 70%
  );

  transform: scale(0.8, 1.1);
  filter: blur(60px);
  opacity: 0.7;
}

.image {
  position: absolute;
  width: 70%;
  max-width: 20rem;
  height: auto;
  display: block;
  margin-top: 12.5rem;
  @include mq-up($sm) {
    max-width: 50rem;
    margin-top: 10rem;
  }
}

@include mq-up($sm) {
  .frame {
    max-width: 30rem;
  }
}
