.header {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 50;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition:
          background-color 0.3s ease-in-out,
          backdrop-filter 0.3s ease-in-out,
          border-color 0.3s ease-in-out,
          box-shadow 0.3s ease-in-out;
}

.skipLinks {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--color-bg-inverse-primary);
  border-bottom: 1px solid var(--color-border);
  max-height: 0;
  overflow: visible;
  transition: max-height .25s ease-in-out;
}

.slipLinksContent {
  width: 100%;
  max-width: var(--container-xl);
  padding-block: .25rem;
}

.skipLinks:focus-within {
  max-height: initial;
}

.skipLink {
  display: inline;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: .5rem;
  font-size: var(--font-sm);
  color: var(--color-text-inverse-primary);
  text-decoration: none;
}

.inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  height: var(--header-height);
}

.logo {
  margin-right: auto;
  position: relative;
  overflow: hidden;

  @include mq-up($sm) {
    margin-right: 2rem;
  }
}

.chooseLanguage {
  margin-right: 1rem;
}

.buttonThemeToggle {
  margin-right: auto;
}

.chooseLanguage,
.buttonThemeToggle {
  display: none !important;

  @include mq-up($sm) {
    display: inline-flex !important;
  }
}

.scrolled {
  background: var(--header-scrolled-bg);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--header-border);
  box-shadow: var(--box-shadow-layout);
}

@supports selector(:has(*)) {
  .header:has(.skipLinks a:focus-visible),
  .header:has(.skipLinks a:focus) {
    background: var(--header-scrolled-bg);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid var(--header-border);
    box-shadow: var(--box-shadow-layout);
  }
}

@supports not selector(:has(*)) {
  .skipLinks:focus-within ~ .inner {
    background: var(--header-scrolled-bg);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid var(--header-border);
    box-shadow: var(--box-shadow-layout);
  }
}

.navDesktop {
  display: none;

  ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      display: flex;
      align-items: center;
    }
  }

  @include mq-up($sm) {
    display: block;
  }
}