/* organisms/Header/header.module.scss */

.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  background: var(--black);
  height: var(--header-height);
}

.inner {
  display: flex;
  justify-content: flex-end;
  max-width: var(--container-6xl);
  margin: 0 auto;
  padding: 0 1rem;
  height: 64px;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.nav {

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
