.notFound {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: 700;
}

.text {
  font-size: 1.2rem;
}