.link {
  color: var(--gray);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: .25rem 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--gray);

    transform: translateX(-100%);
    transition: transform 400ms cubic-bezier(.4, 0, .2, 1);
  }

  &:hover::after,
  &:focus-visible::after {
    transform: translateX(0);
  }

  &:focus-visible {
    outline: 2px solid #0a76f6;
    outline-offset: 2px;
  }
}
