.background {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  right: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.dotted {
  width: 100%;
  max-width: 35rem;
  height: auto;
  color: var(--color-text-primary);
  opacity: 0.12;
}