.title {
  margin-bottom: 2.5rem;
}

.paragraph {
  font-size: var(--font-md);
  line-height: var(--leading-loose);
  margin-bottom: 2.5rem;
  color: var(--gray)
}

.service {
  min-height: calc(100dvh - var(--header-height));
  align-items: start;
}

.heading {
  text-align: center;
  color: var(--white);
  font-size: var(--font-h2);
  font-weight: 700;
  margin: 0 0 2.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  max-width: var(--container);
  margin: 0 auto;
  grid-template-columns: 1fr;
}

.left {
  width: 100%;
}

.right {
  display: grid;
  width: 100%;
  gap: 1.5rem;
}

@include mq-up($sm) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2rem;
    align-items: stretch;

    .left {
      grid-column: span 2 / span 2;
    }

    .right {
      grid-column: span 3 / span 3;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }

    .bottom {
      grid-column: 1 / -1;
    }
  }
}

