.card {
  background: var(--color-card);
  backdrop-filter: blur(20px);
  border: 0.0625rem solid rgba(255, 255, 255, 0.08);
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.45);
  transition:
          border-color 0.3s ease,
          box-shadow 0.3s ease;
}

.card:hover {
  border-color: rgba(255, 255, 255, 0.18);
  box-shadow:
          0 2rem 5rem rgba(0, 0, 0, 0.6),
          0 0 2rem rgba(161, 162, 163, 0.12);
}


.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  &.center {
    justify-content: center;
  }
}

.chart {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 17.5rem;
  @include mq-up($xs) {
    max-width: 22rem;
  }
  @include mq-up($xs-2) {
    max-width: 25rem;
  }
  @include mq-up($xs-3) {
    max-width: 30rem;
  }
  @include mq-up($sm) {
      max-width: none;
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.title {
  font-size: var(--font-xl);
  font-weight: 700;
  margin: 0;
  color: var(--white);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tag {
  font-size: var(--font-xs);
  font-weight: 500;
  padding: .25rem .5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid;
  background: rgba(255, 255, 255, 0.05);
}


.white .icon {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.white .tag {
  border-color: rgba(255, 255, 255, 0.5);
  color: var(--white);
}

.purple .icon {
  background: rgba(139, 92, 246, 0.2);
  color: #a78bfa;
}

.purple .tag {
  border-color: rgba(139, 92, 246, 0.5);
  color: #c4b5fd;
}

.blue .icon {
  background: rgba(96, 165, 250, 0.2);
  color: #60a5fa;
}

.blue .tag {
  border-color: rgba(96, 165, 250, 0.5);
  color: #93c5fd;
}

.green .icon {
  background: rgba(34, 197, 94, 0.2);
  color: #22c55e;
}

.green .tag {
  border-color: rgba(34, 197, 94, 0.5);
  color: #4ade80;
}

.orange .icon {
  background: rgba(249, 115, 22, 0.2);
  color: #f97316;
}

.orange .tag {
  border-color: rgba(249, 115, 22, 0.5);
  color: #fb923c;
}
